@import '../../assets/sass/variables.scss';

.card {
    position: relative;
    width: 230px;
    border-radius: 3px;
    transition: transform 0.4s ease-in-out;

    &.active {
        @include shadow;
        transform: scale(1.5);
    }

    img {
        min-width: 100%;
        min-height: 130px;
        border-radius: 3px;
    }

    .hover-actions {
        background-color: $body-bg-darker;
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }

    &-actions, &-disclaimer, &-categories {
        display: flex;
        gap: 1rem;
    }
}