@import '/src/assets/sass/variables';

.carousel-wrapper {
    position: relative;
    margin: 0 auto;
    width: 93vw;

    .next, .previous {
        top: 0;
        background-color: rgba(0, 0, 0, 0.543);
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        height: 100%;
    }

    .previous {
        left: -1rem;
    }

    .next {
        right: -1rem;
    }

    .total-pages {
        display: flex;
        gap: 0.2rem;
        position: absolute;
        top: -1rem;
        right: 0;
        
        span {
            width: 12px;
            height: 2.5px;
            background-color: $primary-color;

            &.active-page {
                background-color: white;
            }
        }
    }
}

.carousel {
    border: 1px solid brown;
    display: flex;
    gap: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

h2 {
    color: white;
    position: absolute;
    top: -4.5rem;
    left: 0;
}