.search-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    position: relative;
    width: 30px;
    padding: 0.2rem;
    transition: width 0.3s ease-in-out, border 0.3s ease-in-out, padding-right 0.3s ease-in-out;
    border: 1px solid transparent;

    .icon {
        background-color: transparent;
    }

    input {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 1rem;
        outline: none;
        width: 0;
        transition: width 0.3s ease-in-out;
    }

    &.open {
        border-color:white;
        padding-right: 2.5rem;
        width: 260px;

        input {
            width: 230px;
        }
    }

    .reset-search {
        position: absolute;
        right: 0;
    }
}