@import '../../assets/sass/variables.scss';

.expanded-card {
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    min-width: 60vw;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    background-color: $body-bg-darker;

    img, iframe {
        width: 100%;
        min-height: 60vh;
    }
    
    &.expanded {
        z-index: 3;
        border: 1px solid blueviolet;
        visibility: visible;

        img {
            min-height: 400px;
        }
    }

    &-actions {
        .grid {
            display: grid;
            grid-template-columns: 70% 30%;
    
            .left, .right {
                border: 1px solid red;
            }
        }
    }
}