@import '../../assets/sass/variables.scss';

.icon {
    background-color: $body-bg;
    border-radius: 100%;
    padding: 0.5rem;
    border: 1px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-color: white;
        box-shadow: 1px 0px 3px -11px rgba(255,255,255,0.75);
        -webkit-box-shadow: 1px 0px 3px -11px rgba(255,255,255,0.75);
        -moz-box-shadow: 1px 0px 3px -11px rgba(255,255,255,0.75);
        background-color: $secondary-color-2;
    }

    &.filled {
        background-color: $suttle-white;
        border-color: $suttle-white;
    }

    img {
        width: 30px;
    }
}